.activity-chart-container {
  display: flex;
  flex-direction: column;
  background-color: #312e2e;
  border-radius: 5px;
  overflow: hidden; 
  height: 80%; 
  max-width: 100%; 
}

.chart-body {
  flex: 1; 
  padding: 5px; 
}

.chart-header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px; 
}

.transparent-button {
  background: transparent;
  border: none;
  color: #007bff;
  font-size: 14px; 
  cursor: pointer;
  display: flex;
  align-items: center;
}

.transparent-button svg {
  margin-left: 5px;
}
