
.card {
  border-radius: 5px;
  background-color: #312e2e;
  /* padding: 10px; */
}

.childcard1 {
  display: flex;
  align-items: center;
}

.childcard1 svg {
  font-size: 15px;
}

.value p {
  margin: 0;
}

.percentage {
  display: flex;
  align-items: center;
}

.upward {
  color: green;
}

.downward {
  color: red;
}

.icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  font-size: 15px; 
}

.orders-icon {
  background-color: rgba(10, 10, 233, 0.582);
  color:blue;
  border: 2px solid blue;
}

.delivery-icon {
  background-color: rgba(103, 236, 103, 0.474);
  color: green;
  border: 2px solid green;
}

.cancelled-icon {
  background-color: rgba(243, 61, 61, 0.359);
  color: red;
  border: 2px solid red;
}

.revenue-icon {
  background-color: rgba(255, 215, 0, 0.1);
  color: gold;
  border: 2px solid gold;
}

@media (max-width: 500px) {
  .card {
    padding: 10px;
  }

  .childcard1 svg {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 5px;
  }

  .childcard1 svg {
    font-size: 15px;
  }
}
